.Register-background {
    background-image: url('../../images/hotel-lobby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    width: 350px; 
    position: relative;
}

.register-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.register-logo {
    max-width: 100px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button {
    background-color: #5606be;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.register-button:hover {
    background-color: #b848f8;
}

.form-links {
    text-align: center;
    margin-top: 15px;
}

.form-links a {
    margin: 0 5px;
    text-decoration: none;
}

.invalid-feedback {
    color: red;
    display: block;
    margin-top: 5px;
}